
.home{
    display: flex;
    height: 100%;
}

.leftContainer{
    width: 25%;
}
.centerContainer{
    width: 45%;
    border-left: 2px solid gainsboro ;
   border-right: 2px solid gainsboro;
}
.rightContainer{
    width: 30%;
}
ul li{
    color: green;
    display: flex;

}
.footer{
    text-align: center;
}
.links{
  padding: 10px;
}
